.app-image {
    display: flex;
    justify-content: center;
    align-items: center;
}
.app-image img {
    max-width: 280px;
    margin: 0 auto;
    display: inline-block;
}
.mobileSlider{
    position: absolute;
    /* top: 65px; */
    width: 235px;
    /* left: 72px; */
    height: 420px;
}
.mobileSlider img{
    width: 100%;
}
.mobileSlider .slick-prev, .mobileSlider .slick-next{
    display: none !important;
}
@media (min-width: 320px) {

    .title h2 {
        line-height: 1.2;
    } 
    .mobileSlider {
        position: absolute;
        width: 143px;
        height: 258px;
    }
    .app-image img{
        max-width: 170px;
    }
  }
@media (max-width: 768px) {
    .app-image{
        margin-bottom: 3rem;
    }
}
@media (min-width: 1024px) {
    .mobileSlider {
        width: 235px;
        height: 420px;
    }
    .app-image img{
        max-width: 280px;
    }
}

