@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

html { 
  scroll-behavior: smooth; 
}
body{
    font-family: "Poppins", sans-serif !important;
    
}
p {
    font-size: 14px;
    line-height: 2;
}
::-webkit-scrollbar-track {
  background-color: #e9edf0;
  border-left: 1px solid #ededed;
}

::-webkit-scrollbar {
  width: 7px;
}

::-webkit-scrollbar-thumb {
  background: #385aef;
}
.btn.btn-blue {
  background: #00bcd4;
  border-color: #00bcd4;
  color: #ffffff;
}
.btn.btn-large {
  font-size: 14px;
  padding: 9px 34px;
  line-height: 25px;
}
.btn {
  display: inline-block;
  font-size: 17px;
  border: 2px solid transparent;
  letter-spacing: .5px;
  line-height: inherit;
  border-radius: 0;
  text-transform: capitalize;
  width: auto;
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  transition-duration: 0.3s;
  transition: all 0.3s !important;
  transition-timing-function: ease-in-out;
}
.btn.btn-blue:hover, .btn.btn-blue:focus {
  background: transparent !important;
  border-color: #00bcd4;
  color: #00bcd4 !important;
}
.title {
  margin-bottom: 3rem;
}
.app-feature i {
  font-size: 38px;
  margin-bottom: 1.5rem;
  transition: all .3s ease-in-out;
}
.app-feature:hover i {
  transform: translateY(-5px);
}
.app-feature {
  text-align: center;
  margin-bottom: 3rem;
}
li{
  list-style: none;
}
/* scroll-top */
.scroll-top-arrow {
  font-size: 20px;
  line-height: 50px;
  color: #fff !important;
  height: 45px;
  width: 45px;
  padding: 0;
  position: fixed;
  bottom: 20px;
  right: 20px;
  text-align: center;
  text-decoration: none;
  z-index: 99;
  border-radius: 100%;
  background-size: 200% auto;
  background-image: linear-gradient(to right, #3264f5 0%, #7202bb 51%, #3264f5 100%);
}
.fadeInLeft {
  animation: fadeInLeft 1s ease;
}
.fadeInRight {
  animation: fadeInRight 1s ease;
}
.fadeInUp {
  animation: fadeInUp 1s ease;
}
.fadeInDown {
  animation: fadeInDown 1.2s ease;
}
.fadeIn {
  animation: fadeIn 1.2s ease;
}
@keyframes fadeIn {
  0% {
      opacity: 0;
  }
  
  100% {
      opacity: 1;
  }
}
@keyframes fadeInLeft {
  0% {
      opacity: 0;
      transform: translate3d(-100%, 0, 0);
  }
  
  100% {
      opacity: 1;
      transform: none;
  }
}
@keyframes fadeInRight {
  0% {
      opacity: 0;
      transform: translate3d(100%, 0, 0);
  }
  
  100% {
      opacity: 1;
      transform: none;
  }
}
@keyframes fadeInUp {
  0% {
      opacity: 0;
      transform: translate3d(0, 100%, 0);
  }
  
  100% {
      opacity: 1;
      transform: none;
  }
}
@keyframes fadeInDown {
  0% {
      opacity: 0;
      transform: translate3d(0, -100%, 0);
  }
  
  100% {
      opacity: 1;
      transform: none;
  }
}


@media (max-width: 768px){
  section{
    padding: 2.5rem 0 !important;
  }
}